body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f6;
}

.btn {
  background-color: hsl(176, 72%, 28%);
}

.btn-disabled {
  background-color: #9b9b9b;
}

.pledge {
  color: hsl(176, 72%, 28%);
}

.gray_disabled {
  color: #9b9b9b;
  filter: brightness(90%) opacity(50%);
}

.disabled {
  filter: brightness(90%) opacity(50%);
}


.mastercraft-logo {
  position: absolute;
  left: 50%;
  top: -12%;
  transform: translateX(-50%);
}

.loadbar-container {
  width: 90%;
  height: 0.8rem;
  background-color: #f3f4f6;
}

.loadbar {
  width: 80%;
  height: 0.8rem;
  background-color: hsl(176, 72%, 28%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
